/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html {
  position: relative;
  min-height: 100%;
}

body {
  height:100%;
  margin: 0px;
  padding: 0px;
  padding-bottom: 45px;
}

footer {
  bottom: 0;
  height: 40px;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.form-control-label {
  font-weight: bold;
}

label.required:after {
  content:"*";
  color: #f00;
}
